.otp {
  .input-otp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 1px solid gold;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    width: 600px;

    .input-customize {
      width: 3rem !important;
      height: 3rem;
      margin: 0 1rem;
      font-size: 2rem;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    .action {
      padding: 10px;
      display: flex;
      justify-content: space-around;
      height: 26px;

      button + button {
        margin-left: 20px;
      }
    }
  }
  .OtpCreate {
    .otpBtnCreate {
    }
    .otpDisplay {
    }
    justify-content: center;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 1.4rem;
    button {
      width: 100px;
      margin: auto;
      margin-bottom: 10px;
      padding: 8px;
      font-size: 1rem;
    }
  }
}
